@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: #90caf9;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    margin: .5rem;
    padding: .5rem;
}

a:visited {
    color: #42a5f5
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    color: #90caf9;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    margin: .5rem;
    padding: .5rem;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
